
MIMS-Front-End/archivos/controlcalidad/*
MIMS-Front-End/archivos/ordenes/*
MIMS-Front-End/archivos/adjunto-tecnico/*
MIMS-Front-End/archivos/controlcalidaddet/*
MIMS-Front-End/global/tmp/*
MIMS-Front-End/global/cache/*
MIMS-Front-End/global/logs/*
MIMS-Front-End/global/qr_codes/*

.DS_Store

MIMS-Ticket/
MIMS-Front-End/application/config/development/database.php

MIMS-Front-End/application/config/production/database.php

MIMS-Front-End/application/config/qa/database.php

MIMS-Servicios/application/config/development/database.php

MIMS-Servicios/application/config/production/database.php

MIMS-Servicios/application/config/qa/database.php
